/* IMPOSTAZIONI GENERALI */
body {
    margin:500px;
  }



/* HEADER */
header div {
    box-sizing: border-box;
    background-color: aquamarine;
    text-align: center;
    padding: 40px;
}

header img  {
    width: 200px;
    padding: 20px;
}



/* MAIN */
main {
    box-sizing: border-box;
    
    text-align: center;
    padding: 40px;
}
main p {
    margin-left: 100px;
}

main div {
    box-sizing: border-box;
    background-color: antiquewhite;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
